html, body {
    margin: 0;
}

#map {
    position: relative;
    width: 100%;
    min-width: 290px;
    height: 600px;
    background-color: gray;
}

#status {
    width: calc(100% - 30px);
    min-width: 290px;
    margin-top: 10px;
    height: 20px;
}

#description {
    width: calc(100% - 30px);
    min-width: 290px;
    margin-top: 10px;
}
