body, html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position:relative;
    width: 100%;
    height: 50px;
    color: white;
    background-color: #333;
}

.logo{
    max-height: 25px;
    margin: 10px 10px 0 15px;
}

.pageLinks {
    position: absolute;
    right: 10px;
    top: 15px;
}

.subTitle {
    color: white;    
    font-size: 24px;
    position: absolute;
    top: 11px;
}

.footer {    
    position:fixed;
    width: calc(100% - 30px);
    height: 30px;
    color: gray;
    padding-left:30px;
    background-color: #333;
    line-height:30px;
    font-size:14px;
}

.header a, .header a:visited, .footer a, .footer a:visited{
    color: gray;
    text-decoration: none;
    margin:0 5px;
    font-size: 14px;
}

.header a:hover, .footer a:hover {
    color: white;
}

.copyrights {
    position:absolute;
    right:30px;
}

.content {
    position:relative;
    width: 100%;
    height: calc(100vh - 80px);
}

.subpageContent{    
    font-size:14px;
}

    .subpageContent a, .subpageContent:visited{
        color: #00abec;
    }

    .subpageContent a:hover{
        color: teal;
    }

#sampleTreeContainer {
    width: 350px;
    float: left;
    height: calc(100vh - 90px);
    overflow-y:scroll;
    overflow-x:hidden;
    padding:5px;
}

.categoryNode {
    color: black;
    font-size:16px;
}

.sampleNode, #tableOfContents a, #tableOfContents a:visited {
    color: black;
    font-size:14px;
    text-decoration: none;
}

.sampleListHover, #tableOfContents a:hover {
    color: #00abec;
}

.selectedNode {
    color: teal;
    text-decoration: none;
}

#displayWindow {
    display:block;
    width: calc(100% - 360px);
    border: none;
    height: calc(100vh - 80px);
    float:left;
}

#sourceCodeLinkPanel {
    position: absolute;
    top: 10px;
    right: 30px;
}

.blueAnchorButton{
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #00abec;
    border-radius: 10px;   
    color: #00abec; 
}

    .blueAnchorButton, .blueAnchorButton:visited {
        color: #00abec;
        text-decoration: none;
    }

    .blueAnchorButton:hover {
        background-color: #00abec;
        color: white !important;
    }

#searchTbx {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 300px;
}

.ui-autocomplete {
    font-size:12px;
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    max-height: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}