:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron{
    margin-top:55px;
    margin-bottom: 0px;
    padding:2rem;
}

@media screen and (max-width: 340px) {
    .col-md-4 {
        max-width: 290px;
    }

    .btn-sm {
        font-size: 11px;
    }
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        max-width: 700px;
    }
}

@media screen and (min-width: 992px) {
    .modal-dialog {
        max-width: 900px; 
    }
}

@media screen and (min-width: 1200px) {
    .modal-dialog {
        max-width: 1100px; 
    }
}

@media screen and (min-width: 1600px) {
    .container, .modal-dialog {
        max-width: 1520px;
    }
}

.col-md-4 {
    max-width: 380px;
}

.sampleCount{
    font-size: 20px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #0051A8;
    color: white;
    cursor: pointer;
    padding: 2px 20px;
    border-radius: 5px 5px 0 0;
}

    #scrollToTopBtn:hover {
        background-color: #002B57;
    }

.modal-header, .modal-body, .modal-footer {
    padding: 0.5rem 1rem;
}

.btn-outline-success {
    color: #A0E302;
    border-color: #A0E302;
}

    .btn-outline-success:hover {
        color: black;
        background-color: #A0E302;
        border-color: #A0E302;
    }

.btn-lg {
    background-color: #0051A8;
    border-color: #0051A8;
}

    .btn-lg:hover {
        background-color: #002B57;
        border-color: #002B57;
    }

a {
    color: #0051A8;
}

h3 {
    font-size:16px;
    font-weight:bold;
}

.card-img-top {
    overflow: hidden;
}

.card-img-top img {
    height: 225px;
    position: relative;
}

.form-check-label {
    min-width: 120px;
}

.dropdown-menu {
    max-height: calc(100vh - 100px);
    overflow-y:auto;
}

input[type="reset"] {
    position: absolute;
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 9px;
    left: 175px;
    background-color: #cccccc;
    padding: 0px;
    margin: 0px;
}

    input[type="reset"]:hover,
    input[type="reset"]:focus {
        background-color: #767676;
    }

.searchForm {
    position: relative;
}
