:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron{
    margin-top:55px;
    margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        max-width: 700px; 
    }
}

@media screen and (min-width: 992px) {
    .modal-dialog {
        max-width: 900px; 
    }
}

@media screen and (min-width: 1200px) {
    .modal-dialog {
        max-width: 1100px; 
    }
}

@media screen and (min-width: 1600px) {
    .container, .modal-dialog {
        max-width: 1520px;
    }
}

.col-md-4{
    max-width:380px;
}


.sampleCount{
    font-size: 20px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 2px 20px;
    border-radius: 5px 5px 0 0;
}

    #scrollToTopBtn:hover {
        background-color: #0069d9;
    }