#map {
    position: relative;
    width: 100%;
    height: 600px;
}

#info {
    margin-top: 15px;
}

#panel {
    position: absolute;
    width: auto;
    height: auto;
    top: 15px;
    left: 15px;
    background-color: white;
    padding: 5px;
}