.contextMenu {
    border: 1px solid gray;
    min-width: 125px;
    list-style: none;
    display: block;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .contextMenu li {
        cursor: pointer;
        display: block;
        padding: 6px 12px;
    }

        .contextMenu li:focus,
        .contextMenu li:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

    .contextMenu a,
    .contextMenu a:hover,
    .contextMenu a:focus,
    .contextMenu a:active {
        text-decoration: none;
        color: black;
        font-size: 12px;
    }

label {
    display: inline-block;
    width: 80px;
    text-align: right;
}
